$black: #212528;
$color_primary: #4CB5F5;
$color_secondary: #B3C100;
$color_background_primary: #F0F0EE;
$color_background_secondary: #34675C;

.btn-primary {
  background-color: $color_primary !important;
  border: 0px !important;
}
.btn-secondary {
  background-color: $color_secondary !important;
  border: 0px !important;
}
.navbar-custom {
  background: white;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.navbar-custom li a {
  text-transform: uppercase;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: $black;
    padding: 15px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: $color_primary;
    transition: 1s;
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 15px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: $color_primary;
    transition: 1s;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: $black;
    padding: 15px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: $color_primary;
    transition: 1s;
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 15px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: $color_primary;
    transition: 1s;
  }
}
@media only screen and (min-width: 992px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -86px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

p {font-weight: 200;}
.flex { display: flex }
.flex-col-middle {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  div {
    max-width: 700px;
    text-align: center;
  }
}
.flex-row-middle {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  div { max-width: 400px; }
}

#main-splash {
  height: 80vh;
  background-image: url("../img/bg-1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mission-statement {
  background-color: $color_background_secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  div { color: white; }
}

#services {
  background-color: $color_background_primary;
  min-height: 60vh;
  h4 {
    color: #B6B6B6;
    font-size: 15px;
    margin: 0;
  }
  svg {
    height: 80px;
    transform: translate(-14px, 0px);
  }
  .custom-wrapper {
    max-width: 85%;
    margin: auto;
  }
  .services-card-container {
    flex-wrap: wrap;
  }
  .services-card-container div { max-width: 350px; }
}
