$color_primary: #4285f4;
$color_blue2: #3ec1f7;
$color_bg_muted: #cccccc;

.grayed { background-color: $color_bg_muted; }
.btn {
  background-color: $color_primary;
  padding: $spacing-md;
  color: white;
  transition: 1s;
}
a.btn { color: white; }
a:link {
  color: white;
  text-decoration: none;
}
.btn:hover {
  transition: 1s;
  background-color: $color_blue2;
}
.darken { background-color: rgba(0,0,0,0.3); }
.haze { background-color: rgba(255,255,255,0.3); }
