<footer id="footer" class="site-footer h-card">
  <h6>Oakridge Periodontal Group™</h6>
  <div id="details-container">
    <div>
      <p>
        info@oakridgeperiodontics.ca <br>
        301 South Tower<br>
        650 West 41st<br>
        Vancouver, BC, V5Z 2M9
      </p>
    </div>
    <div class="hours">
      <data class="u-url" href="{{ "/" | relative_url }}"></data>
      <p>
        Tel: 604-266-1332<br>
        Fax: 604-266-2928<br>
        Hours of Operation:<br>
        Monday to Friday<br>
        9am to 5pm
      </p>
    </div>
  </div>
</footer>

<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>
