/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import
  "overrides/spacing",
  "overrides/base",
  "overrides/colors";

#main-splash {
  background-size: cover;
  background-position-y: center;
  padding: 0;

  .haze {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.photo-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  div {
    min-height: 350px;
    flex-basis: 35%;
    margin: $spacing-xl;
  }
}
#humble-brag {
  background-image: url('/img/smiles.jpg');
  background-size: cover;
  background-position-y: center;
  padding: 0;

  .darken {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 { color: white; }
  p { color: white; }
}
#benefits {
  div {
    background-size: cover;
    background-position-y: center;
  }
  #benefit1 { background-image: url('/img/benefits.jpg') }
  #benefit2 { background-image: url('/img/benefits.jpg') }
  #benefit3 { background-image: url('/img/benefits.jpg') }
}
@media screen and (max-width: 850px) {
  .photo-row { flex-wrap: no-wrap; }
  .photo-row div {
    flex-basis: initial;
    min-width: 200px;
  }
}
