<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include nav.html -%}

    <section id="default-splash" class="flex flex-col-middle">
      <div>
        <h1>Oakridge Periodontal Group</h1>
        <a href="../contact_us" class="btn btn-secondary margin-top-small">Contact Us</a>
      </div>
    </section>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
