<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include nav.html -%}

    <section id="default-splash" class="flex flex-col-middle">
      <div>
        <h1>Oakridge Periodontal Group</h1>
        <p>Flexitarian meggings hashtag, cronut poutine 90's paleo truffaut artisan. Master cleanse yr subway tile salvia shoreditch farm-to-table. Tofu slow-carb vexillologist try-hard kale chips. Trust fund tousled 8-bit chartreuse succulents jianbing.</p>
        <a href="contact_us" class="btn btn-secondary">Contact Us</a>
      </div>
    </section>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
