<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <section class="grayed" id="main-splash">
      <div class="wrapper">
        <h1>This is your Primary Heading</h1>
        <p>Flexitarian meggings hashtag, cronut poutine 90's paleo truffaut artisan. Master cleanse yr subway tile salvia shoreditch farm-to-table. Tofu slow-carb vexillologist try-hard kale chips. Trust fund tousled 8-bit chartreuse succulents jianbing.</p>
      </div>
    </section>

    <section id="mission-statement">
      <div class="wrapper">
        <h2>Your mission statement or your ultimate value</h2>
        <p>Green juice raw denim fingerstache single-origin coffee twee food truck. Flexitarian freegan hexagon normcore direct trade, heirloom put a bird on it dreamcatcher lumbersexual succulents health goth salvia keytar chia readymade. Photo booth lumbersexual tattooed hella paleo bushwick kinfolk live-edge bicycle rights, flexitarian vegan truffaut try-hard sriracha. Everyday carry microdosing drinking vinegar hammock raclette hashtag.</p>
      </div>
    </section>

    <section id="photos">
      <div class="photo-row">
        <div class="photo grayed"></div>
        <div class="description padding-xl">
          <h3>Key Benefits</h3>
          <p>8-bit synth literally, small batch fingerstache truffaut irony fashion axe tumeric typewriter iceland stumptown succulents.</p>
        </div>

        <div class="description padding-xl">
          <h3>Key Benefits</h3>
          <p>8-bit synth literally, small batch fingerstache truffaut irony fashion axe tumeric typewriter iceland stumptown succulents.</p>
        </div>
        <div class="photo grayed"></div>

        <div class="photo grayed"></div>
        <div class="description padding-xl">
          <h3>Key Benefits</h3>
          <p>8-bit synth literally, small batch fingerstache truffaut irony fashion axe tumeric typewriter iceland stumptown succulents.</p>
        </div>
      </div>
    </section>

		<section class="grayed" id="humble-brag">
      <div class="wrapper">
        <h2>A closing reminder of your offer</h2>
        <p>Vape humblebrag 8-bit synth literally, small batch fingerstache truffaut irony fashion axe tumeric typewriter iceland stumptown succulents. Taxidermy microdosing pop-up, freegan try-hard raclette wayfarers before they sold out mlkshk. Photo booth mixtape vice gentrify green juice sriracha.</p>

        <br>
        <a href="mailto:someone@example.com" class="btn btn-primary">Contant Us</a>
      </div>
		</section>

  </body>

</html>
