<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <section>
      <div>
        <h1>Oakridge Periodontal Group</h1>
        <p>Flexitarian meggings hashtag, cronut poutine 90's paleo truffaut artisan. Master cleanse yr subway tile salvia shoreditch farm-to-table. Tofu slow-carb vexillologist try-hard kale chips. Trust fund tousled 8-bit chartreuse succulents jianbing.</p>
        <a href="contact_us">Contact Us</a>
      </div>
    </section>

    <section>
      <div>
        <h2>Mission Statement</h2>
        <p>Flexitarian meggings hashtag, cronut poutine 90's paleo truffaut artisan. Master cleanse yr subway tile salvia shoreditch farm-to-table. Tofu slow-carb vexillologist try-hard kale chips. Trust fund tousled 8-bit chartreuse succulents jianbing.</p>
      </div>
    </section>

    <section>
      <div>
        <h2>What is Periodontal Disease</h2>
        <p>Flexitarian meggings hashtag, cronut poutine 90's paleo truffaut artisan. Master cleanse yr subway tile salvia shoreditch farm-to-table. Tofu slow-carb vexillologist try-hard kale chips. Trust fund tousled 8-bit chartreuse succulents jianbing.</p>
      </div>
      <div>
        <div>
          <h4>Perdiodontal</h4>
          <h3>Procedures</h3>
          <p>Flexitarian meggings hashtag, cronut poutine 90's paleo truffaut artisan.</p>
        </div>

        <div>
          <h4>Gum</h4>
          <h3>Grafting</h3>
          <p>Flexitarian meggings hashtag, cronut poutine 90's paleo truffaut artisan.</p>
        </div>

        <div>
          <h4>Dental</h4>
          <h3>Implants</h3>
          <p>Flexitarian meggings hashtag, cronut poutine 90's paleo truffaut artisan.</p>
        </div>
      </div>
    </section>

    <section>
      <div>
        <div>
          <h2>What our patients are saying about us</h2>

          <div>
            <p>Flexitarian meggings hashtag, cronut poutine 90's paleo truffaut artisan. - Someone</p>
            <p>Flexitarian meggings hashtag, cronut poutine 90's paleo truffaut artisan. - Anyone</p>
          </div>
        </div>

        <div>
          <img>
        </div>
      </div>
    </section>

    <section>
      <div>
        <h2>A closing reminder of your offer</h2>
        <p>Flexitarian meggings hashtag, cronut poutine 90's paleo truffaut artisan. Master cleanse yr subway tile salvia shoreditch farm-to-table. Tofu slow-carb vexillologist try-hard kale chips. Trust fund tousled 8-bit chartreuse succulents jianbing.</p>
        <a href="contact_us">Contact Us</a>
      </div>
    </section>

    {%- include footer.html %}
  </body>
</html>
